# Dependencies
node_modules/
package-lock.json

# Secrets (JANGAN pernah push)
.env
.env.local
*.key
*.pem
firebase-config.js

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Build
dist/
build/
